* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  box-sizing: border-box;
  background-color: #181818;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 1440px;
  position: relative;
}

.tabs {
  width: 100%;
  background-color: #ffaa4c;
  height: 38px;
  display: flex;
}

.tabs__container {
  width: 168px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabs__container:first-child {
  margin-left: 60px;
}

.tabs__container_active {
  border-radius: 20px 20px 0 0;
  background-color: #181818;
}

.tabs__item {
  font-weight: 500;
  font-size: 16px;
  color: #000;
}

.tabs__item_active {
  color: #ffffff;
}

.top-bar {
  z-index: 2;
  background-color: #181818;
  padding: 10px 60px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar_fixed {
  position: fixed;
  top: 0;
}

.burger-menu {
  display: none;
}

.top-bar__burger {
  display: none;
}

.top-logo_mobile {
  display: none;
}

button {
  padding: 14px 28px;
  background-color: #954ced;
  border: 2px solid #954ced;
  border-radius: 16px;
  color: #ffffff;
  font-family: inherit;
  font-weight: 600px;
  font-size: 20px;
  transition: all 0.3s;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
  background-color: #181818;
}

button:focus {
  border: 2px solid #ba8bf3;
}

.button_clicked {
  background-color: #7b31d4;
  border-color: #7b31d4;
}

.button_light {
  background-color: #954ced;
  border: 4px solid #954ced;
}

.button_light:hover {
  transform: scale(1.1);
  background-color: #181818;
  border: 4px solid #181818;
}

.button_light:focus {
  background-color: #954ced;
  border: 2px solid #ba8bf3;
}

.hero {
  position: relative;
  width: 100%;
}

.hero__content {
  margin-top: 82px;
  margin-left: 110px;
  padding-bottom: 140px;
}

.title {
  font-weight: 700;
  font-size: 96px;
  line-height: 102px;
}

.hero__text {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 24px;
  max-width: 534px;
}

.hero__image {
  position: absolute;
  bottom: 0;
  right: 0;
}

.about {
  position: relative;
}

.about__content {
  padding-left: 60px;
  padding-top: 100px;
}

.about__description {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.about__text {
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  max-width: 397px;
}

.about__text_background {
  position: absolute;
  left: 112px;
  top: 377px;
  z-index: -1;
}

.about__features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 70px;
  padding-right: 125px;
  padding-bottom: 36px;
}

.feature {
  max-width: 336px;
}

.feature__heading {
  margin-top: 10px;
  font-weight: 700;
  font-size: 48px;
  line-height: 51px;
}

.feature__text {
  margin-top: 20px;
  font-size: 24px;
  line-height: 29px;
}

.about__background-image {
  position: absolute;
  bottom: 0;
  left: 0;
}

.how-works__content {
  width: 100%;
  position: relative;
}

.how-works__text-container {
  display: flex;
  flex-direction: column;
  gap: 68px;
  padding-top: 146px;
  padding-bottom: 146px;
  overflow: hidden;
}

.how-works__text {
  white-space: nowrap;
  font-weight: 700;
  font-size: 128px;
  line-height: 136px;
}

.how-works__text_first-line {
  animation: slide-right-first 10s linear infinite both;
}

.how-works__text_second-line {
  animation: slide-left 10s linear infinite both;
}

.how-works__text_third-line {
  animation: slide-right-third 10s linear infinite both;
}

@keyframes slide-right-first {
  0% {
    transform: translateX(-2220px);
  }
  100% {
    transform: translateX(2250px);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(2290px);
  }
  100% {
    transform: translateX(-2970px);
  }
}

@keyframes slide-right-third {
  0% {
    transform: translateX(-2950px);
  }
  100% {
    transform: translateX(2250px);
  }
}

.how-works__text_green {
  color: #2fdbbc;
}

.how-works__text_purple {
  color: #a64ced;
}

.how-works__text_orange {
  color: #ffaa4c;
}

.how-works__text_transparent {
  color: transparent;
  -webkit-text-stroke: 1px #444444;
}

.how-works__phone {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.why-budss {
  display: flex;
  justify-content: center;
}

.statistics {
  width: 100%;
  height: 222px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  background-color: #954ced;
}

.statistics__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.statistics__amount {
  font-weight: 700;
  font-size: 64px;
  line-height: 68px;
}

.statistics__text {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

.why-budss__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why-budss__heading {
  font-weight: 700;
  font-size: 64px;
  line-height: 68px;
  margin-top: 100px;
  margin-bottom: 20px;
}

.why-budss__text {
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  margin-bottom: 70px;
}

.why-budss__text_background {
  position: absolute;
  top: 235px;
  z-index: -1;
}

.benefits {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 100px;
}

.benefits__first-line {
  display: flex;
  gap: 20px;
  margin-bottom: 8px;
}

.benefits__second-line {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.benefits__item {
  height: 362px;
  background-color: #ffffff;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  position: relative;
}

.benefits__item_big {
  width: 733px;
}

.benefits__item_small {
  width: 547px;
}

.phone-img_mobile {
  display: none;
}

.benefits__text-container {
  display: flex;
  flex-direction: column;
}

.benefits__heading {
  margin-top: 32px;
  color: #000;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 20px;
  max-width: 440px;
}

.benefits__text {
  color: #000;
  font-size: 20px;
  line-height: 24px;
  max-width: 334px;
}

.benefits__text_margin {
  margin-left: 40px;
}

.purple-package {
  position: absolute;
  right: 0;
  top: 80px;
}

.green-package {
  position: absolute;
  bottom: 0;
  left: 72px;
}

.yellow-package {
  position: absolute;
  bottom: 0;
  right: 60px;
}

.like-img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.purple-person {
  position: absolute;
  bottom: -4px;
  right: 43px;
}

.contact {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}

.contact__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding: 60px 312px;
  border: 1px solid #cfcfcf;
  border-radius: 60px;
  margin-bottom: 100px;
}

.contact__heading {
  color: #000;
  font-weight: 700;
  font-size: 64px;
  line-height: 68px;
  margin-bottom: 40px;
}

.networks {
  width: 100%;
  margin-bottom: 100px;
  position: relative;
}

.networks__heading {
  color: #000;
  font-weight: 700;
  font-size: 96px;
  line-height: 102px;
  max-width: 822px;
  margin-left: 60px;
}

.networks__text {
  color: #000;
  font-size: 20px;
  line-height: 24px;
  max-width: 537px;
  margin-left: 60px;
  margin-top: 20px;
}

.facebook-logo {
  position: absolute;
  right: 435px;
  top: 45px;
}

.twitter-logo {
  position: absolute;
  right: 305px;
  top: 137px;
}

.instagram-logo {
  position: absolute;
  right: 175px;
  top: 45px;
}

.tiktok-logo {
  position: absolute;
  right: 45px;
  top: 137px;
}

.facebook-logo_mobile,
.twitter-logo_mobile,
.instagram-logo_mobile,
.tiktok-logo_mobile {
  display: none;
}

.partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 1320px;
  margin-bottom: 100px;
}

.footer {
  height: 188px;
  margin-left: 60px;
  margin-right: 60px;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;
  border-bottom: 2px solid #444444;
}

.footer__tabs {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 100px;
}

.footer__tab {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  transition: all 0.3s;
}

.footer__tab_mobile {
  display: none;
}

.app-stores {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.footer__copyright {
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #b9b9b9;
}

.footer__links {
  display: flex;
  gap: 20px;
}

.footer__link {
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #b9b9b9;
  text-decoration: underline;
  transition: all 0.3s;
}

.footer__link:hover {
  color: #ffffff;
}

.cookies-modal {
  position: fixed;
  bottom: 30px;
  left: 0;
  right: 0;
}

.cookies-modal__content {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-right: 65px;
  margin-left: 90px;
  max-width: 1285px;
}

.cookies-modal__text {
  font-weight: 300;
  color: #383838;
  font-size: 20px;
  line-height: 28px;
  max-width: 783px;
}

.cookies-modal__buttons {
  display: flex;
  gap: 20px;
  margin-left: 40px;
  margin-right: 60px;
}

.cookies-modal__button_accept:hover {
  transform: none;
  border-color: #000;
}

.cookies-modal__button_decline {
  color: #000;
  background-color: #ffffff;
}

.cookies-modal__button_decline:hover {
  transform: none;
  border-color: #000;
  background-color: #000;
  color: #ffffff;
}

.cookies-modal__icon {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

.contact-modal__background {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #18181850;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-modal {
  position: fixed;
  z-index: 4;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 40px;
}

.contact-modal__container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 10px;
  position: relative;
}

.contact-modal__name {
  font-weight: 500;
  color: #000;
  font-size: 14px;
  line-height: 22px;
}

.required-input {
  color: red;
}

.contact-modal__input {
  height: 40px;
  outline: none;
  border: 1px solid #f1f1f1;
  border-radius: 14px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 14px;
  line-height: 22px;
}

.input_phone {
  padding-left: 40px;
}

.contact-modal__input_error {
  border: 1px solid #ec1211;
}

.contact-modal__input_flag {
  position: absolute;
  top: 39px;
  left: 16px;
}

.contact-modal__text {
  font-weight: 300;
  font-size: 14px;
  color: #000;
  line-height: 20px;
  max-width: 337px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.contact-modal__text_requirment {
  color: #ec1211;
  font-size: 16px;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contact-modal__link {
  font-weight: 300;
  font-size: 14px;
  color: #954ced;
  line-height: 20px;
  max-width: 337px;
  text-decoration: underline;
  text-underline-offset: 3px;
  cursor: pointer;
}

.contact-modal__link:hover {
  color: #7b31d4;
}

.contact-modal__icon {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

.contact-modal__button {
  background-color: #954ced;
}

.contact-modal__button:hover {
  transform: none;
  border-color: #181818;
}

.button_disabled {
  background-color: #b9b9b9;
  border-color: #b9b9b9;
}

.button_disabled:hover {
  background-color: #b9b9b9;
  border-color: #b9b9b9;
}

.input_error {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #ec1211;
  margin-top: 4px;
}

.success-modal__background {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #18181850;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-modal {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
}

.success-modal__img {
  width: 297px;
}

.success-modal__heading {
  font-weight: 600;
  color: #a64ced;
  font-size: 36px;
  line-height: 45px;
}

.success-modal__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000;
  max-width: 345px;
  text-align: center;
}

.success-modal__button {
  width: 100%;
  background-color: #954ced;
}

.success-modal__button:hover {
  transform: none;
  background-color: #181818;
  border-color: #181818;
}

.success-modal__escape-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

.hide-element {
  display: none;
}

.no-scroll {
  overflow-y: hidden;
}
