* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Proxima Nova";
  src: url(../fonts/ProximaNova-Regular.woff);
  font-weight: 400;
}
@font-face {
  font-family: "Proxima Nova Semibold";
  src: url(../fonts/ProximaNova-Semibold.woff);
  font-weight: 400;
}
@font-face {
  font-family: "Proxima Nova Bold";
  src: url(../fonts/ProximaNova-Bold.woff);
  font-weight: 700;
}
body {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  color: #fff;
}

.center {
  padding-left: calc(50% - 663px);
  padding-right: calc(50% - 663px);
}

.button {
  font-family: "Proxima Nova Semibold";
  color: #fff;
  background-color: #ff8b00;
  border: none;
  outline: none;
  box-sizing: border-box;
  padding: 4px 41px 4px 41px;
  font-size: 14px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
  border-radius: 4px;
  transition: all 0.3s;
}
.button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.top {
  background-color: #fff;
  background-image: url(../img/main-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.top__header {
  padding-left: 87px;
  padding-right: 87px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
  margin-bottom: 129px;
}
.top__header--logo {
  background-image: url(../img/Logo.svg);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  width: 78px;
  height: 100px;
}
.top__header--logo:hover {
  cursor: pointer;
}
.top__header .navigation {
  display: flex;
  gap: 28px;
}
.top__header .navigation__item {
  font-size: 15px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  transition: all 0.3s;
}
.top__header .navigation__item:hover {
  cursor: pointer;
  color: #ff8b00;
}
.top__header .active {
  border-bottom: 3px solid #ff8b00;
}
.top__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 169px;
  padding-right: 169px;
}
.top__content--text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.top__content--text .title {
  font-family: "Proxima Nova Semibold";
  font-size: 55px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: 0em;
  text-align: left;
}
.top__content--text .description {
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.top__form {
  margin-top: 32px;
}
.top__scroller {
  margin-top: 135px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 19px;
  padding-bottom: 50px;
}
.top__scroller--text {
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.top__scroller--link {
  height: 71px;
  width: 62px;
  transition: all 0.3s;
}
.top__scroller--link :hover {
  cursor: pointer;
  transform: scale(1.1);
}
.top__scroller--image {
  height: 71px;
  width: 62px;
  transition: all 0.3s;
}
.top__scroller--image :hover {
  cursor: pointer;
  transform: scale(1.1);
}

.about {
  flex-wrap: wrap;
  padding-top: 133px;
  padding-bottom: 131px;
  background-color: #fff;
  display: flex;
  gap: 92px;
  padding-left: 209px;
  padding-right: 209px;
  justify-content: center;
}
.about__item {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  width: 247px;
}
.about__item--number {
  font-family: "Proxima Nova Semibold";
  color: #7050e5;
  font-size: 60px;
  font-weight: 700;
  line-height: 68px;
  text-align: left;
}
.about__item--text {
  font-family: "Proxima Nova Semibold";
  color: #7050e5;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
}

.specifications {
  background-color: #f8f8f8;
  padding-top: 145px;
  padding-bottom: 120px;
  padding-right: 160px;
  padding-left: 160px;
  position: relative;
}
.specifications__heading {
  font-family: "Proxima Nova Semibold";
  font-size: 60px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0em;
  text-align: right;
  color: #7050e5;
  margin-bottom: 68px;
  margin-right: 65px;
}
.specifications .container {
  display: flex;
  gap: 100px;
  row-gap: 72px;
  flex-wrap: wrap;
  justify-content: center;
}
.specifications__item {
  display: flex;
  flex-direction: column;
  max-width: 281px;
}
.specifications__item--img {
  align-self: center;
  margin-bottom: 28px;
}
.specifications__item--title {
  font-family: "Proxima Nova Semibold";
  text-transform: uppercase;
  color: #7050e5;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  margin-bottom: 8px;
}
.specifications__item--description {
  color: #878787;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.008em;
  text-align: left;
}
.specifications__item .phone {
  max-width: 142px;
  margin-right: 50px;
}
.specifications__item .tablet {
  max-width: 160px;
}
.specifications__item .laptop {
  max-width: 150px;
}
.specifications__item .labyrinth {
  max-width: 132px;
}
.specifications__item .harddrive {
  max-width: 191px;
}
.specifications__item .cloud {
  max-width: 210px;
}
.specifications__angle-image {
  position: absolute;
  top: 110px;
  right: 170px;
}

.spotlight {
  display: flex;
  justify-content: space-between;
  padding-top: 114px;
  padding-bottom: 97px;
  background-color: #fff;
}
.spotlight__info {
  display: flex;
  flex-direction: column;
  padding-left: 23px;
}
.spotlight__info--heading {
  font-family: "Proxima Nova Semibold";
  color: #7050e5;
  font-size: 40px;
  font-weight: 700;
  line-height: 55px;
  text-align: left;
  margin-top: 95px;
  margin-bottom: 15px;
}
.spotlight__info--description {
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #878787;
}
.spotlight__info--form {
  margin-top: 38px;
}
.spotlight__video {
  position: relative;
}
.spotlight__video--button {
  max-width: 77px;
  position: absolute;
  top: 160px;
  left: 340px;
}
.spotlight__video--player {
  max-width: 724px;
}

.contact {
  padding-top: 128px;
  padding-bottom: 120px;
  background-color: #232323;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.contact__heading {
  font-family: "Proxima Nova Semibold";
  font-size: 55px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 63px;
  z-index: 1;
}
.contact__content {
  padding-right: 32px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  z-index: 1;
}
.contact__content--text {
  font-family: "Proxima Nova Semibold";
  font-size: 28px;
  font-weight: 700;
  text-align: left;
}
.contact__form {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.contact__form--top {
  display: flex;
  justify-content: space-between;
}
.contact__form .input-name {
  font-size: 13px;
  font-weight: 600;
  line-height: 1px;
  text-align: left;
  margin-bottom: 16px;
}
.contact__form--input {
  width: 308px;
  height: 40px;
  border: none;
  outline: none;
  border: 1px solid #292929;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 13px 9px 13px 9px;
  font-size: 14px;
  font-weight: 500;
  line-height: 7px;
  letter-spacing: 0em;
  text-align: left;
  color: #292929;
  font-family: "Raleway", sans-serif;
}
.contact__form--input::-moz-placeholder {
  color: #9e9e9e;
  font-size: 14px;
  font-weight: 500;
  line-height: 7px;
  letter-spacing: 0em;
  text-align: left;
  font-family: "Raleway", sans-serif;
}
.contact__form--input::placeholder {
  color: #9e9e9e;
  font-size: 14px;
  font-weight: 500;
  line-height: 7px;
  letter-spacing: 0em;
  text-align: left;
  font-family: "Raleway", sans-serif;
}
.contact__form .mail {
  width: 640px;
}
.contact__form--textarea {
  width: 640px;
  height: 96px;
  border: none;
  outline: none;
  border: 1px solid #292929;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 13px 9px 13px 9px;
  font-size: 14px;
  font-weight: 500;
  line-height: 7px;
  text-align: left;
  color: #292929;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #fff;
}
.contact__form--textarea::-moz-placeholder {
  color: #9e9e9e;
  font-size: 14px;
  font-weight: 500;
  line-height: 7px;
  text-align: left;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
.contact__form--textarea::placeholder {
  color: #9e9e9e;
  font-size: 14px;
  font-weight: 500;
  line-height: 7px;
  text-align: left;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
.contact__form .send {
  max-width: 201px;
  display: flex;
  justify-content: center;
}

.white-line {
  height: 97px;
  background-color: #fff;
}

.footer {
  background-color: #363636;
  padding-top: 56px;
  padding-bottom: 49px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.footer .news-feed {
  padding-left: 87px;
}
.footer .news-feed__top {
  display: flex;
}
.footer .news-feed__logo {
  width: 39px;
  height: 39px;
}
.footer .news-feed__logo--link {
  width: 60px;
  height: 60px;
  background-color: #5634d1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .news-feed__text {
  width: 239px;
  height: 60px;
  background-color: #7050e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 16px;
  gap: 5px;
}
.footer .news-feed__text .twitter-name {
  font-size: 22px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.008em;
  text-align: left;
}
.footer .news-feed__text .twitter-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.008em;
  text-align: left;
}
.footer .news-feed__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 31px;
}
.footer .news-feed__content--item {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.footer .news-feed__content--text {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #999999;
}
.footer .news-feed__content--link {
  color: #7050e5;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  transition: all 0.1s;
}
.footer .news-feed__content--link:hover {
  text-decoration: underline;
  color: #5634d1;
}
.footer .news-feed__content--time {
  color: #555555;
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-align: left;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  width: 700px;
  padding-right: 86px;
}
.footer__categories {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer__category {
  display: flex;
  gap: 8px;
  padding-bottom: 12px;
}
.footer__category--name {
  color: #ff8b00;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  font-family: "Proxima Nova Semibold";
}
.footer__item {
  font-family: "Proxima Nova Semibold";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  transition: all 0.1s;
  text-decoration: none;
  color: #fff;
}
.footer__item:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #5634d1;
}
.footer__contacts {
  font-family: "Proxima Nova Semibold";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
}
.footer__logo {
  position: absolute;
  bottom: 32px;
  right: 32px;
}

.bar {
  background-color: #252525;
  height: 23px;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 10px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.bar__figure {
  width: 10px;
  height: 10px;
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
}

.sidescroller {
  position: fixed;
  top: 335px;
  right: 54px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.sidescroller--item {
  background-image: url(../img/polygon.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 19px;
  height: 22px;
  transition: all 0.3s;
}
.sidescroller--item:hover {
  transform: scale(1.15);
  cursor: pointer;
}
.sidescroller .active-sidescroller {
  background-image: url(../img/active-polygon.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 19px;
  height: 22px;
}/*# sourceMappingURL=style.css.map */